body{
    margin: 0px;
    background-color: #ffffff;
    font-family: Arial;
}
.container-info{
    margin-top: -20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-image{
    width: 90%;
    height: 90%;
    margin-top: 20%
}

.anuncios{
    background-color:#9C27B0;
    height: 3%;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.anuncios-info{
    margin-left: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.anuncios-info h4{
    margin-right: 2px;
    font-style: normal;
    font-size: 1em;
   
}
.anuncios p{
    margin-left: 3px;
    margin-top: 7px;
    font-style: normal;
    font-size: 1em;
    color: #ffffff;
}


.container-header{
    display: flex;
    flex-flow: wrap row;
    background-color: #E1BEE7;
    opacity: .5;
    color:#212121;
    height: 15%;
    position: relative;
    top: 29;
    
}
.header-login-and-shopping{
    margin-top: 0px;
    display: flex;
    flex-flow: wrap row;
    justify-content: end;
    align-items: center;
    margin-bottom: 0.5%;
}
.icon{
    width: 30px;
}

.header{
    align-items: center;
    margin-top: 0px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    list-style: none;
    width: 90%;
    
  
}

.container-header:hover{
    background-color:#9C27B0;
    transition: 0.5s;
    opacity: 1;
    margin: 5px;
    border-radius: 5px;
   
}
.container-header:hover #linkLi{

    color: white;
 }
 #linkLi{
    text-decoration: none;
    color: #212121;
 }
li{
    margin: 10px;
    font-size: 20px;
}
#linkLi:hover{
    text-decoration: underl 
}


.end-container{
    padding: 10px;
    background-color: #9C27B0;
    display: flex;
    flex-flow: wrap column;
    justify-content: end;
    align-items: center;
    height: 40vh;
    color: white;
    z-index: 3;
    opacity: 0.8;
}

.container-socialNetwork{
    background-color: aqua;
    position: sticky;
    top: 33;
    margin-left: 10px;
    z-index: 4;
}

.socialNetwork{
    position: absolute;
    
  
}
#socialNetwork{
    width: 30px;
}

.separation-container{
    margin-top: 2%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#separation{
    width: 60vw;
}