body{
    margin: 0px;
    background-color: #ffffff;
}
.container-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap row;
}
.info-image{

    width: 90%;
    height: 90%;
    margin-top: 20%
}

.anuncios{
    display:flex;
    flex-flow: wrap row;                  
    background-color:#E1BEE7;
    height: 3%;
    justify-content: space-evenly;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
}
.anuncios-info{
    margin-left: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.anuncios-info h4{
    margin-right: 2px;
    font-style: normal;
    font-size: 1em;
}
.anuncios p{
    margin-left: 2px;
   
    font-style: normal;
    font-size: 1empx;
    color: #ffffff;
}


.container-header{
    display: flex;
    flex-flow: wrap row;
    background-color: #E1BEE7;
    opacity: .5;
    color:#212121;
    position: relative;
    top: 29;
    
}
.header-login-and-shopping{
    margin-top: 0px;
    display: flex;
    flex-flow: wrap row;
    justify-content: end;
    align-items: center;
    margin-bottom: 0.5%;
}
.icon{
    width: 30px;
}

.header{
    align-items: center;
    margin-top: 0px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    list-style: none;
    width: 90%;
    
  
}

.container-header:hover{
    background-color:#9C27B0;
    transition: 0.5s;
    color:#ffffff;
    opacity: 1;
    margin: 5px;
    border-radius: 5px;
   
}

li{
    margin: 10px;
    font-size: 20px;
   

}


.container-ventas{
    display: flex;
}


